.layout-card {
  display: flex;
  flex-direction: column;

  // Default Margin for Card
  padding: 3% 5% 5% 5%;
  margin: 2% 5% 5% 5%; // Top: 2%, Bottom: 2%, Left/Right: 2%

  // Responsive Margin adjustments
  @include sm {
    margin-bottom: 10%;
  }

  @include md; @include lg {
    margin-bottom: 5%;
  }

  a {
    text-decoration: none;
    color: $linkColorUnvisited;
    font-weight: bold;

    &:hover {
      color: #02667f;
    }
  }

  .layout-card-img {
    width: 100%;
    
    img {
      width: 60%;
      
      @include lg {
        width: 30%;
      }
    }
  }

  h1 {
    text-align: left;
    margin-bottom: 1%;
    font-size: 1.75rem; // Default font-size for small screens

    @include md {
      font-size: $h1_md;
    }

    @include lg {
      font-size: $h1_lg;
    }
  }

  h2 {
    font-size: $h2_sm; // Default font-size for small screens

    @include md {
      font-size: $h2_md;
    }

    @include lg {
      font-size: $h2_lg;
    }
  }

  .layout-card-links {
    a {
      margin-right: 5%;
      font-weight: normal;
      background-color: #1a202c;
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-weight: bolder;
      
      font-size: 1rem; // Default font-size for small screens

      @include md {
        font-size: $h1_md - 5px;
      }

      @include lg {
        font-size: $h1_lg - 15px;
      }
    }
  }

  .layout-card-subtitle {
    color: $subTitleColor;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 1rem;
  }

  .layout-card-subtitle-02 {
    font-size: 1.4rem;
  }
}