@use "./variables";

.layout-footer {
  display: flex;
  flex-direction: column;
  background-color: variables.$footerColor;

  ul {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;

    li {
      list-style-type: none;
      margin-right: 2%;

      a {
        font-weight: bold;
        text-decoration: none;
        color: variables.$footerLinkColor;
      }

      a:hover {
        color: variables.$footerColorHover;
      }
    }
  }

  div {
    text-align: center;
    font-weight: bold;
    color: variables.$footerLinkColor;
  }
}