@use "./mixins";
@use "./variables";

.layout-page {
  display: flex;
  flex-direction: column;
  
  h1 {
    text-align: center;
  }

  @include mixins.md {
    h1 {
      font-size: variables.$h1_md + 15px;
    }
  }
}