.layout-page {
  display: flex;
  flex-direction: column;
  
  h1 {
    text-align: center;
  }

  @include sm {
    h1 {
      font-size: $h1_sm;
    }
  }

  @include md {
    h1 {
      font-size: $h1_md + 15px;
    }
  }

  @include lg {
    h1 {
      font-size: $h1_lg + 5px;
    }
  }
}