$backgroundColorPrimary: #ffffff;
$backgroundColorSecondary: #f6f6f8;
$linkColorUnvisited: #fff;
$linkColorHover: #02667f;
$footerColor: #007bff;
$footerLinkColor: #ece9e9;
$footerColorHover: #6c757d;
$iconColor: #000000;
$titleColor: #4b4a4a;
$subTitleColor: #666565;
$subTitleColorSecondary: #979595;
$callToActionColor: #000000;

$buttonBackgroundColorPrimary: #ffc96c;

$h1_sm: 2rem;
$h1_lg: 30px;
$h1_md: 20px;

$h2_sm: 1.5rem;
$h2_lg: 20px;
$h2_md: 20px;

$screen-sm-min: 300px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;