@use "./layout/mixins";
@use "./layout/variables" as v;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: v.$lh-tight;

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    color: v.$text-title;
  }

  h2 {
    color: v.$text-subtitle;
  }

  .hero__company {
    color: v.$color-brand-600;
  }
}