@use "./layout/mixins";
@use "./layout/variables";

// Base styles for the container
.aboutme-container {
  text-align: center;
  display: flex;
  padding: 0.5rem;
  justify-content: center;

  img {
    border-radius: 20px;
    width: 80%;
  }

  a {
    color: variables.$iconColor;

    &:hover {
      color: variables.$footerColor;
    }

    &:visited,
    &:focus {
      color: variables.$iconColor;
    }
  }

  .aboutme-img-container {
    width: 40%; // Default style
    align-items: center;
  }

  h1,
  h2 {
    font-size: 1.5rem; // Base size
  }
}

// Media Queries - Handle Responsiveness
@include mixins.sm {
  .aboutme-container {
    .aboutme-img-container {
      display: none; // Hide image container on small screens
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1rem;
    }

    .project-icon {
      padding: 2%;
      font-size: 2rem;
    }
  }
}

@include mixins.md {
  .aboutme-container {
    .aboutme-img-container {
      display: block; // Show image container on medium screens
    }

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 25px;
    }

    .project-icon {
      padding: 2%;
      font-size: 3rem;
    }
  }
}

@include mixins.lg {
  .aboutme-container {
    h1 {
      font-size: 60px;
    }

    h2 {
      font-size: 25px;
    }

    button {
      font-size: variables.$h2_sm;
    }

    .project-icon {
      padding: 2%;
      font-size: 3rem;
    }
  }
}