@use "./layout/mixins";
@use "./layout/variables";

.article-container {
  padding: 2rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
  }
}