@use "./layout/mixins";
@use "./layout/variables";

.reading-progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px; /* height of the progress bar */
  background-color: rgba(0, 0, 0, 0.1); /* subtle background */
  z-index: 9999;
}

.reading-progress-bar {
  height: 100%;
  background-color: #d80505;
  width: 0%;
  transition: width 0.2s ease-out;
}

.article-container {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 6rem;
  padding-bottom: 8rem;
  background-color: #fefefe;
  color: #333;


  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
  }
}