@use "./layout/variables";

.contact-container {
  display: flex;
  flex-direction: column;
  background-color: variables.$backgroundColorSecondary;
  padding-top: 100px;

  input {
    margin-bottom: 3%;
    padding: 1%;
    border-radius: 5px;
  }

  input:focus {
    border-color: variables.$footerColorHover;
  }

  div {
    button{
      color: variables.$backgroundColorPrimary;
      background-color: variables.$footerColor;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}