@use "./layout/mixins";

.experience-container {
  padding-top: 100px;
}

.experience-description {
  font-weight: normal;

  ul {
    li {
      @include mixins.sm {
        margin-bottom: 5%;
      }

      @include mixins.md {
        margin-bottom: 5%;
      }

      @include mixins.lg {
        margin-bottom: 2%;
      }
    }
  }
}