@use "./layout/mixins";
@use "./layout/variables";

.layout-navigation {
  position: fixed;
  width: 100%;

  background-color: variables.$footerColor;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0; 
  }

  li {
    margin: 1rem 0;
  
    a {
      text-decoration: none;
      color: variables.$linkColorUnvisited;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: variables.$linkColorHover;
      }
    }

    @include mixins.sm {
      font-size: 1rem;
    }

    @include mixins.md {
      font-size: variables.$h1_md;
    }

    @include mixins.lg {
      font-size: variables.$h1_lg;
    }
  }
}