@import './layout/variables';

.menu-toggle-button {
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: $footerColor;
  color: $backgroundColorPrimary;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s ease;
  border-radius: 20%;
  padding: 15px;
  z-index: 998;
  font-size: 1.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    color: $linkColorUnvisited;
    transform: scale(1.05);
  }

  &:focus {
    outline: none;
    color: $linkColorUnvisited;
    box-shadow: 0 0 0 2px rgba($linkColorUnvisited, 0.3);
  }
}