@use "./layout/variables";

.skill-container {
  background: variables.$backgroundColorSecondary;
  padding-top: 100px;

  h2 {
    margin-left: 2%;
  }
}

.skill-language {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  span {
    margin: 5%;
    text-align: center;
  }
}