@use "./layout/Footer";
@use "./layout/Page";
@use "./layout/Card";
@use "./layout/variables" as v;

@use "Aboutme";
@use "Project";
@use "Experience";
@use "Skill";
@use "Contact";
@use "Navbar";
@use "FloatingSidebar";
@use "SidebarToggle";
@use "Chat";
@use "Article";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

// BASE TYPOGRAPHY

h1 {
  font-size: v.$fs-h1;
  font-weight: v.$fw-bold;
  line-height: v.$lh-tight;
}

h2 {
  font-size: v.$fs-h2;
  font-weight: v.$fw-semibold;
  line-height: v.$lh-tight;
}

h3 {
  font-size: v.$fs-h3;
  font-weight: v.$fw-semibold;
  line-height: v.$lh-normal;
}

p {
  font-size: v.$fs-body;
  font-weight: v.$fw-regular;
  line-height: v.$lh-relaxed;
}

small {
  font-size: v.$fs-small;
}