@use "./layout/Footer";
@use "./layout//Page";
@use "./layout/Card";

@use "Aboutme";
@use "Project";
@use "Experience";
@use "Skill";
@use "Contact";
@use "Navbar";
@use "FloatingSidebar";
@use "SidebarToggle";
@use "Chat";
@use "Article";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}